{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'catalog/auth.css' %}">

		<title>Телефонный справочник ОАО "Метрострой"</title>
	</head>
	<body>


        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <div class="parent">
                <table width="300px">

                    <tr>
                      <td>Zimbra e-mail: </td>
                      <td>{{ form.username }}</td>
                    </tr>

                    <tr>
                      <td>Пароль: </td>
                      <td>{{ form.password }}</td>
                    </tr>

                    <tr>
                      <td></td>
                      <td>
                          <input type="submit" value="Вход">
                      </td>
                    </tr>

                    {% if form.errors %}
                    <tr>
                        <td colspan="2" >
                            <b>Проверьте правильность ввода имени пользователя и пароля!</b>
                        </td>
                    </tr>

                    {% endif %}
                </table>
            </div>
        </form>
	</body>
</html>



