{% extends "catalog/base.html" %}
{% load static %}

{% block content %}

        <table class="bordered">
            <thead>
            <tr>
                <th>№ п/п</th>
                <th>Наименование:</th>
                <th>Адрес:</th>
            </tr>
            </thead>
            <tbody>
            {% for department in departments %}

                <tr>
                    <td align="center" width="5%">{{ forloop.counter }}</td>
                    <td style="text-align: left">
                        <b><a href="{{ department.get_absolute_url }}">{{ department.name }}</a></b>
                    </td>
                    <td>{{ department.adress|default_if_none:"Не указан" }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

{% endblock %}